/* src/App.css */

.container {
  padding: 20px;
  background-color: #f4f7f6;
  min-height: 100vh;
  font-family: sans-serif;
}

.header {
  text-align: center;
  margin-bottom: 30px;
}

.header h1 {
  color: #2c3e50;
}

/* Estilos del Formulario */
.form-container {
  max-width: 600px;
  margin: 0 auto 40px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.form-container h3 {
  margin-top: 0;
}

.apartment-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.apartment-form input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.btn-save {
  padding: 12px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.btn-save:hover {
  background-color: #2980b9;
}

/* Estilos del Listado */
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 20px;
}

.card {
  background-color: rgb(255, 255, 255);
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(12, 211, 211, 0.05);
  border-left: 5px solid #3498db;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.price {
  color: #27ae60;
  font-weight: bold;
  font-size: 1.2rem;
}

.btn-delete {
  margin-top: 15px;
  background-color: #ff4d4d;
  color: rgb(255, 255, 255);
  border: none;
  padding: 8px;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s;
}

.btn-delete:hover {
  background-color: #cc0000;
}